<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{title}}</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel='stylesheet' href='../static/style.css' type='text/css'>

</head>

<body>

    <div class="container-fluid">
        <header>

            <ul class='nav'>
                <li><a href="/">FlowTow</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/my">My Images</a></li>

                <div class="login">
                    % if user:
                    <form method="GET" id="logoutform" action="/logout">
                        <input type="submit" name="logout" value="Logout">
                    </form>
                    <p class="login">Logged in as {{user}}</p>
                    % else:
                    <form method="POST" id="loginform" action="/login">
                        <ul>
                            <li>Username: <input name="nick"></li>
                            <li>Password: <input type="password" name="password"></li>
                        </ul>
                        <input type="submit" name="Login">
                    </form>
                    % end
                </div>

            </ul>

        </header>

        <div class='heading'>
            <h2>{{heading}}</h2>
            <p>{{subtitle}}</p>
        </div>

        <div class='content'>

            {{!base}}

        </div>
    </div>

    <footer></footer>

</body>

