% rebase('base.html')


<h2>Login Failed, please try again</h2>

<form method="POST" id="loginform" action="/login">
    <ul>
        <li>Username: <input name="nick"></li>
        <li>Password: <input type="password" name="password"></li>
    </ul>
    <input type="submit">
</form>