html, body { /* removes side scrolling */
    max-width: 100%;
    overflow-x: hidden;
}
body {
    background-color: #f2f2f2;
}

.container-fluid {
    padding: 0;
    margin: 0;
    width: 100%;
    min-height:100%;
    position: relative;
}

.nav {
    top: 0px;
    width: 100%;
    height: 6ex;
    margin-bottom: 10px;
    position: fixed;
    background-color: white;
    z-index: 9999;
}
.nav li {
    float: left;
    display: inline;
    margin-left: 5px;
}
.nav .login {
    float: right;
    display: inline;
    margin-top: 10px;
    margin-right: 30px;
    width: 600px;
}
.nav .login input {
    margin-left: 11px;
}
#logoutform {
    float: right;
    width: 83px;
}
.nav .login p {
    width: 170px;
    margin-top: 2px;
    margin-right: 0px;
    margin-bottom: 0px;
}

.heading {
    width: 100%;
    height: 3em;
    margin-top: 5em;
    margin-bottom: 2em;
    margin-left: 2em;
}

.content {
    margin-top: 60px;
}
.content ul {
    padding: 0%;
    margin: 0%;
    list-style-type: none;
}
.image {
    width: 33.33%;
    float: left;
    display: block;
    position: relative;
}
.col-sm-4 {
    padding: 0;
}
.image img {
    max-width: 100%;
    /*min-width: 100%;*/
    height: auto;
}
/*.image:hover, .image img:hover, .image .details:hover {*/
    /*opacity: 0.2;*/
    /*filter: alpha(opacity=20); !* For IE8 and earlier *!*/
    /*!* background-color: red; *!*/
/*}*/
.details {
    top: 0;
    left: 0;
    padding-top: 5ex;
    padding-left: 5ex;
    width: 100%;
    height: 100%;
    position: absolute;
    color: white;
    background: black;
    opacity: 0.7;
    filter: alpha(opacity=70); /* For IE8 and earlier */
}
.image .details {
    display: none;
}
.image:hover .details {
    display: inline;
}
.details div button {
    float: left;
    display: inline;
    padding: 12%;
    margin-top: 200px;
    background: black;
    border: none;
    outline:none;
}

#uploadform {
    margin-top: -60px;
    margin-right: 42px;
    float: right;
}
#uploadform input {
    display: inline;
}
#uploadform input:first-child {
    width: 220px;
}
#uploadform div {
    position: absolute;
}


/*footer {
    bottom: 0px;
    width: 100%;
    height: 10ex;
    margin-top: -10ex;
    background-color: #f2f2f2;
    position: absolute;
    clear: both;
} */